<template>
  <div class="content-page container-fluid">
    <MainHeader :user="user" />
    <ListHeader />
    <router-view class="secundary-view has-box-shadow" name="secundary" />
    <TheFooter />
  </div>
</template>

<script>
import ListHeader from "../components/ListHeader";
import MainHeader from "../components/MainHeader";
import TheFooter from "../components/TheFooter";
export default {
  name: "ContentPage",
  components: {
    ListHeader,
    TheFooter,
    MainHeader
  },
  data() {
    return {
      user: {
        name: "Maria Paula",
        image: require("../assets/images/img-avater.jpg")
      }
    };
  }
};
</script>

<style lang="scss">
@import "../assets/styles/general.scss";
.secundary-view {
  // margin: 4rem auto;
  padding: 2rem 5rem !important;
  max-width: 900px;
  margin: 5rem auto;
}
</style>
