<template>
  <div class="login container-flux aling-items-center">
    <div class="login__content row align-items-center justify-content-center">
      <LoginForm class="col col-md-4 col-lg-3"/>
      <div class="login__image d-none d-md-block col-md-6">
        <SocialLinks class="login-social"/>
      </div>
    </div>
  </div>
</template>

<script>
import LoginForm from "../components/LoginForm";
import SocialLinks from "../components/SocialLinks";
export default {
  name: "Login",
  components: {
    LoginForm,
    SocialLinks
  }
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";

.login {
  height: 100%;
  background-color: $primary;
  &__content {
    height: 100%;
    width: 100%;
    margin: auto !important;
  }
  &__image {
    height: 100%;
    background-image: url("../assets/images/417875-PD8M69-194.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .login__content {
      padding: 5% 1%;
    }
  }
  &-social {
    position: absolute !important;
    bottom: 10px;
    right: -35px;
  }
}
</style>
