<template>
  <div class="register container-fluid align-items-center">
    <div class="register__content row align-items-center justify-content-center">
      <div class="register__image d-none d-md-block col-md-6">
        <SocialLinks class="register-social"/>
      </div>
      <RegisterForm class="col col-md-4 col-lg-3"/>
    </div>
  </div>
</template>

<script>
import RegisterForm from "../components/RegisterForm";
import SocialLinks from "../components/SocialLinks";
export default {
  name: "Register",
  components: {
    RegisterForm,
    SocialLinks
  }
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";

.register {
  height: 100%;
  background-color: $secundary;
  &__content {
    height: 100%;
    width: 100%;
    margin: auto !important;
  }
  &__image {
    height: 100%;
    background-image: url("../assets/images/417807-PD8LY9-209.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
  @media (min-width: 768px) {
    .register__content {
      padding: 5% 1%;
    }
  }
  &-social {
    position: absolute !important;
    bottom: 10px;
    left: -35px;
  }
}
</style>