<template>
  <div class="container">
    <div class="cont row">
      <div class="col-10 category-select">
        <div class="row category-select__head">
          <h2 class="category-select__head--title">Puedes agregar las siguientes categorías</h2>
          <span class="category-select__head--text">
            Elige las categorías sugeridas con regalos recomendados que te
            gustaria agregar:
          </span>
        </div>
        <div class="row row category-select__box">
          <span class="category-select__box--itemSelected">aa{{category}}</span>
          <span class="category-select__box--item">baño</span>
          <span class="category-select__box--item">botiquin</span>
          <span class="category-select__box--item">cuarto</span>
          <span class="category-select__box--item">entretenimiento</span>
          <span class="category-select__box--item">experiencias</span>
          <span class="category-select__box--item">joyeria</span>
          <span class="category-select__box--item">lactancia</span>
          <span class="category-select__box--item">papeleria</span>
          <span class="category-select__box--item">pre y post natal</span>
          <span class="category-select__box--item">paseo</span>
          <span class="category-select__box--item">recuerdos</span>
          <span class="category-select__box--item">seguridad</span>
          <span class="category-select__box--item">suenño</span>
          <span class="category-select__box--item">vestimenta</span>
          <span class="category-select__box--item">seleccionar todo</span>
          <button class="category-select__box--btn">Agregar</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CategorySelect",
  props: ["category"],
  data() {
    return {
      state: false
    };
  }
};
</script>

<style lang="scss">
.category-select {
  display: flex;
  justify-content: center;
  border: #c3c3c3 1px solid;
  box-shadow: 0px 1px 2px 1px rgba(194, 194, 194, 1);
  padding: 50px 0;
  flex-direction: column;
  &__head {
    display: flex;
    flex-direction: column;
    &--title {
      color: #e17a7d;
      font-weight: bold;
      font-size: 18px;
    }

    &--text {
      color: #6f6f70;
      font-size: 12px;
      margin: 0 0 15px 0;
    }
  }

  &__box {
    flex-wrap: wrap;
    display: flex;
    margin: 0 auto;
    padding: 0 100px;

    &--item {
      justify-content: center;
      align-items: center;
      display: flex;
      border: solid 1px #999999;
      border-radius: 10px;
      padding: 10px 5px;
      box-sizing: border-box;
      color: #999999;
      font-size: 12px;
      width: 20%;
      margin: 2%;
    }
    &--itemSelected {
      justify-content: center;
      align-items: center;
      display: flex;
      border: solid 1px #999999;
      border-radius: 10px;
      padding: 10px 5px;
      box-sizing: border-box;
      color: white;
      font-size: 12px;
      width: 20%;
      margin: 2%;
      background-color: #999999;
    }
    &--btn {
      margin-top: 20px;
      background-color: #9780a1;
      width: 100%;
      border: none;
      border-radius: 25px;
      padding: 10px;
      color: #6f6f70;
    }
  }
}
.cont {
  text-align: center;
  align-items: center;
  justify-content: center;
}
</style>
