<template>
  <div class="entry-form">
    <div class="entry-form__header">
      <h2>¡Felicitaciones!</h2>
      <p>Queremos saber un poco más de ti y de tu bebé antes de empezar a crear tu lista de regalos.</p>
    </div>
    <div class="entry-form__body row">
      <form>
        <div class="entry-form__field col-12 justify-content-start">
          <label for="monthbirth">1. ¿En qué mes nacerá tu bebe?</label>
          <select
            name="monthbirth"
            id="monthbirth"
            aria-placeholder="Elegir Mes"
            placeholder="Elegir Mes"
            class="form-control rounded-pill col-2"
          >
            <option value="enero">Enero</option>
            <option value="febrero">Febrero</option>
            <option value="marzo">Marzo</option>
            <option value="abril">Abril</option>
            <option value="mayo">Mayo</option>
            <option value="junio">Junio</option>
            <option value="julio">Julio</option>
            <option value="agosto">Agosto</option>
            <option value="setiembre">Setiembre</option>
            <option value="octubre">Octubre</option>
            <option value="noviembre">Noviembre</option>
            <option value="diciembre">Diciembre</option>
          </select>
        </div>
        <div class="entry-form__field col-12">
          <label for="first_time">2. ¿Eres mamá primeriza?</label>
          <select
            name="first_time"
            id="first_time"
            aria-placeholder="Elegir Mes"
            placeholder="Elegir Mes"
            class="form-control rounded-pill col-2"
          >
            <option value="si">Si</option>
            <option value="no">No</option>
          </select>
          <p
            class="addenum"
          >*Con esta opcion te sugerimos ciertos productos si es tu primera vez siendo mamá o te sugerimos ciertas maneras convenientes de usar WB si eres mamá por segunda, tercera o cuarta vez. ¡Pero siempre al final puedes lo que más se acomode a ti!</p>
        </div>
        <div class="entry-form__field col-12">
          <label for="babyname">3. ¿Cuál será el nombre de tu bebe? (Opcional)</label>
          <input
            type="text"
            name="babyname"
            id="babyname"
            class="form-control col-3 name-baby-input"
          >
          <p
            class="addenum"
          >*Con esta información haremos más personalizado tu espacio. Pero si aún no lo saben, ¡no hay problema! Puedes agregarlo en el momento que quieras.</p>
        </div>
        <div class="entry-form__field entry-form__field--submit col-12">
          <button
            @click.prevent.stop="$router.push({name: 'list-type'})"
            class="btn btn-primary rounded-pill btn--form col-12 col-md-2 offset-md-11"
          >Guardar</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "EntryForm"
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";
.entry-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-content: flex-start;

  &__header {
    h2 {
      color: $primary;
    }
    p {
      color: $font-header;
      font-size: 20px;
    }
  }
  &__field {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 1rem 0;
    color: $font-header;
    font-size: 15px;
    p {
      text-align: start;
      font-size: 14px;
      margin: 0.5rem 0;
    }
    &--submit {
      margin-top: 2rem;
    }
  }
}
.name-baby-input {
  border: none !important;
  border-radius: 0px !important;
  border-bottom: 1px solid #999999 !important;
}
</style>
