<template>
  <div class="container">
    <div class="row gift-user">
      <div class="col-2 gift-user__cont">
        <img src class="gift-user__cont--img">
      </div>
      <div class="col-8 gift-user__box">
      <div>
            <span class="gift-user__box--user">Pedro rodirguez orales</span>
            <span class="gift-user__box--date">(Recibido el: 14/03/2019)</span>
      </div>
        <p class="gift-user__box--msg">
          Muchas Felicidades. En casa estamos muy contentos con la noticia y esperamos
          ansias por la llegada de Lia. Será una bendición para todos y sobre todo ustedes como nuevos
          papitos
        </p>
        <span class="gift-user__box--user">
          <i class="material-icons">expand_more</i>ver regalos recibidos
        </span>
      </div>
      <div class="col-2 gift-user__cont">
        <span class="gift-user__cont--total">TOTAL</span>
        <span class="gift-user__cont--total">S/ 240.00</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "GiftUser"
};
</script>

<style lang="scss">
.gift-user {
  // padding: 0;
  // margin: 0;
  border: #c3c3c3 1px solid;
  box-shadow: 0px 1px 2px 1px rgba(194, 194, 194, 1);
  padding: 25px 10px;
  box-sizing: border-box;

  &__cont {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    &--total {
      font-size: 18px;
      color: #999999;
      font-weight: bold;
    }

    &--img {
      height: 100px;
      width: 100px;
      background: #999999;
    }
  }
  &__box {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    &--msg {
        text-align: left;
      padding: 10px 0;
      margin: 0;
      font-size: 12px;
      color: #999999;
    }
    &--user {
      font-size: 15px;
      font-weight: bold;
    }

    &--date {
      font-size: 15px;
      color: #999999;
    }
  }
}
</style>
