<template>
  <div class="container">
    <div class="row hero-component">
      <div class="col-3 hero-component">
        <img src alt class="hero-component__img">
      </div>
      <div class="col-8 hero-component__cont2">
        <h2>WELCOME LIA</h2>
        <p>Hola a todos, pronto será ela fiesta de bienvenida de Mateo y esperamos que nos puedan acompañar en ese díatan lindo. Aquí podrán encontrar toda la información del evento y la lista de regalos</p>
        
        <img src="https://img.icons8.com/color/48/000000/confetti.png"><span>Faltan</span>
        <span class="col-8 hero-component__cont2--num">1</span>
        <span class="col-8 hero-component__cont2--num">5</span>
        <span>días para la llegada de Lia</span>
      </div>
      <div class="col-1 hero-component__cont3">
        <span>Editar</span>
        <i class="material-icons">edit</i>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HeroComponent"
};
</script>

<style lang="scss">
.hero-component {
  background: #d37f7f;
  color: white;
  font-family: "Quicksand", sans-serif;
  text-align: left;
  padding: 30px 45px;

  &__img {
    background: blue;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: none;
  }
  &__cont2 {
    margin: 50px 0;
    & h2 {
      font-weight: bold;
    }
    & span {
      font-weight: bolder;
    }
    &--num{
      background: white;
      border-radius: 4px;
      color: #999999;
      padding: 0 2px !important;
      margin: 0 2.5px;
  
    }
  }
  &__cont3 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}
</style>
