<template>
  <div class="list-type">
    <div class="list-type__header">
      <h3>¡Hola!</h3>
      <p>Elige el tipo de lista que deseas crear</p>
    </div>
    <div class="list-type__body row justify-content-around">
      <ListTypeCard
        v-for="(item, index) of typecard"
        :key="index"
        v-bind="item"
        class="col-12 col-md-5"
        :secundary="item.title=='Lista'"
      />
    </div>
  </div>
</template>

<script>
import ListTypeCard from "./ListTypeCard";
export default {
  name: "ListType",
  components: {
    ListTypeCard
  },
  data() {
    return {
      typecard: [
        {
          title: "Colectivo",
          message:
            "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat...",
          image: require("../assets/images/teamwork.png"),
          nextpath: ""
        },
        {
          title: "Lista",
          message:
            "Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat...",
          image: require("../assets/images/gift (3).png"),
          nextpath: "list-creation"
        }
      ]
    };
  },
  created() {
    this.$store.dispatch("selectStep", 0);
  }
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";
.list-type {
  &__header {
    h3 {
      color: $primary;
    }
    p {
      color: $secundary;
      font-size: 25px;
    }
  }
}
</style>
