<template>
  <div class="list-header row">
    <div
      class="list-header__link col-md"
      v-for="(link, index) in links"
      :key="index"
      :class="{'is-bg-dark text-light': index == 5, 'is-selected': isStepSelected(index)}"
      @click="selectStep(index)"
    >
      <span class="link__name">{{link.title}}</span>
      <!-- <div class="link__step"></div> -->
      <span class="link__step" :class="{'link__step-light': index == 5}">{{link.step}}</span>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";
export default {
  name: "ListHeader",
  data() {
    return {
      links: [
        { title: "tipo de lista", step: "Paso 1", selected: false },
        { title: "crear lista", step: "Paso 2", selected: false },
        { title: "agregar regalos", step: "Paso 3", selected: false },
        { title: "compartir lista", step: "Paso 4", selected: false },
        { title: "regalos recibidos", step: "Paso 5", selected: false },
        { title: "mi lista", step: "Ver" }
      ]
    };
  },
  computed: {
    ...mapGetters(["isStepSelected"])
  },
  methods: {
    selectStep(index) {
      this.$store.dispatch("selectStep", index);
    }
  },
  beforeDestroy() {
    this.$store.dispatch("cleanSteps");
  }
};
</script>

<style lang="scss">
@import "../assets/styles/general.scss";
.list-header {
  height: 140px;
  background-color: #e5e5e5;
  &__link {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    color: #979797;
    font-size: 18px;
    cursor: pointer;
  }
}
.link {
  &__name {
    // font-size: 0.8rem;
    text-transform: uppercase;
    margin-bottom: 8px;
  }
  &__step {
    // font-size: 0.8rem;
    border: thin solid #707070;
    border-radius: 20px;
    width: 115px;
    padding: 0 10px;
    &-light {
      background-color: #e5e5e5;
      color: #707070 !important;
    }
  }
}
.is-selected {
  background-color: #999999;
  color: #ffffff;
  .link__step {
    background-color: #e5e5e5;
    color: #707070 !important;
  }
}
</style>
