<template>
  <div class="list-creation">
    <h3>Esta lista es para tu bebe:</h3>
    <div class="lista-creation__form">
      <form action>
        <div class="form-section">
          <!-- <p>Mamá gestante de:</p>
          <div class="form-field">
            <input type="radio" name="radio-gest-uno" id="radio-gest-uno" />
            <label for="radio-gest-uno">Un bebé</label>
          </div>
          <div class="form-field">
            <input type="radio" name="radio-gest-dos" id="radio-gest-dos" />
            <label for="radio-gest-dos">Gemelos/Mellizos</label>
          </div>
          <div class="form-field">
            <input type="radio" name="radio-gest-tres" id="radio-gest-tres" />
            <label for="radio-gest-tres">Trillizos</label>
          </div>
          <div class="form-field">
            <input type="radio" name="radio-gest-mas" id="radio-gest-mas" />
            <label for="radio-gest-mas">Cyatrillizos a más</label>
          </div> -->
        </div>
        <div class="form-section"></div>
        <div class="form-section"></div>
        <div class="form-section"></div>
        <div class="form-section"></div>
        <div class="form-section"></div>
        <div class="form-section"></div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListCreation"
};
</script>

<style>
</style>