<template>
  <div class="list-type-card card">
    <div
      class="list-type-card__header"
      :class="{'card-bg-secundary': secundary, 'card-bg-primary': !secundary}"
    >
      <img class="list-type-card__image" :src="image" alt />
    </div>
    <div class="row">
      <div class="col-6"></div>
      <div class="col-6"></div>
    </div>
    <div
      class="list-type-card__body card-body"
      :class="{'card-body-secundary': secundary, 'card-body-primary': !secundary}"
    >
      <div>
        <h3
          class="list-type-card__title"
          :class="{'list-type-card__title--secundary': secundary}"
        >{{title}}</h3>
        <p class="list-type-card__text">{{message}}</p>
      </div>
      <div class="list-type-card__footer">
        <button
          class="btn btn-primary btn--form rounded-pill btn--card"
          :class="{'btn--sec': secundary}"
          @click="action"
        >Siguiente</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ListTypeCard",
  props: ["image", "title", "message", "secundary", "nextpath"],
  methods: {
    action() {
      this.$router.push({ name: this.nextpath });
    }
  }
};
</script>

<style lang="scss">
@import "../assets/styles/main.scss";
.list-type-card {
  border-radius: 37px !important;
  max-height: 900px;
  min-height: 650px;
  padding: 0px !important;
  overflow: hidden;
  &__header {
    height: 40%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
  &__image {
    height: 100px;
    width: 100px;
  }
  &__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #f3f3f3;
  }
  &__title {
    text-transform: uppercase;
    font-size: 22px;
    margin: 1rem auto;
  }
}
.card-bg-primary {
  background-color: $primary;
}
.card-bg-secundary {
  background-color: $bg-card-secundary;
}
.card-body-primary {
  color: $primary;
}
.card-body-secundary {
  color: $font-header;
}
</style>
