<template>
  <div class="login-form align-items-center justify-content-center">
    <div class="login-form__header w-75">
      <h2>Welcome baby</h2>
      <p class="text-secondary">Iniciar Sesion</p>
    </div>
    <div class="w-100"></div>
    <div class="login-form__form w-75">
      <form>
        <div class="login-form__field">
          <label for="username" v-show="false">Usuario</label>
          <input
            class="rounded-pill form-control"
            type="text"
            name="username"
            id="username"
            placeholder="Usuario"
            aria-placeholder="Usuario"
            v-model="username"
          />
        </div>
        <div class="login-form__field">
          <label for="password" v-show="false">Contraseña</label>
          <input
            class="rounded-pill form-control"
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            aria-placeholder="Contraseña"
            v-model="password"
          />
        </div>
        <div class="login-form__field row">
          <a
            href
            class="link col text-secondary text-right text-decoration-none"
          >¿Olvidaste la contraseña?</a>
        </div>
        <div class="login-form__field row justify-content-around">
          <button class="btn col-5 rounded-pill btn-primary btn--form" @click="login">Entrar</button>
          <button
            @click.prevent="$router.push({name: 'register'})"
            class="btn col-5 rounded-pill btn-outline-secondary"
          >Registrate</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "LoginForm",
  data() {
    return {
      username: "",
      password: ""
    };
  },
  methods: {
    login() {
      this.$router.push({ name: "list-type" });
    }
  }
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";
.login-form {
  background-color: #ffffff;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0px !important;
  &__header {
    h2 {
      color: $primary;
    }
    p {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  &__field {
    margin: 1rem 0;
  }
}
.link {
  font-size: 12px;
}
</style>
