<template>
  <header class="main-header row justify-content-between align-items-center">
    <div class="main-header__logo col-3">
      <span>Welcome Baby</span>
    </div>
    <div class="main-header__user col-3">
      <span class="main-header__user-name col">{{user.name}}</span>
      <img class="main-header__user-image col rounded-circle" :src="user.image" alt="i" />
    </div>
  </header>
</template>

<script>
export default {
  name: "MainHeader",
  props: ["user"]
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";
.main-header {
  height: 140px;
  font-size: 30px;
  &__logo {
    text-transform: uppercase;
    color: $primary;
  }
  &__user-image {
    // height: 91px;
    // width: 91px;
    height: 40px;
    width: 40px !important;
    padding: 0 !important;
    margin: 0 8px;
  }
  &__user-name {
    color: $font-header;
  }
}
</style>
