<template>
<div class="container">
    <div class="row product-detail">
      <div class="col-5 product-detail__left">
        <img :src=src height="300px" width="300px" class="product-detail__img">
      </div>
      <div class="col-7 product-detail__right">
        <p class="product-detail__righ--parrafo">Editar Elemento</p>
        <input class="product-detail__right--ipt1" type="text" :value=name>
        <input class="product-detail__right--ipt1" type="text" :value=type>
        <div>
          <input class="product-detail__right--ipt2" type="text" :value=price>
          <input class="product-detail__right--ipt3" type="number" :value=cant>
        </div>
        <input
          class="product-detail__right--ipt1"
          type="text"
          placeholder="Link referencial del producto"
          :value=link
        >
      </div>
    </div>
</div>
</template>

<script>
export default {
  props:["src","name","type","cant","price","link"]
};
</script>

<style lang="scss">
.product-detail {
  padding: 20px 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: #c3c3c3 1px solid;
  box-shadow: 0px 1px 2px 1px rgba(194, 194, 194, 1);
  width: 80%;
  &__img {
    background-color: #999999;
  }
  &__left {
    text-align: center;
  }
  &__right {
    flex-direction: column;
    font-size: 12px;
    padding: 0 0 100px 0;
    box-sizing: border-box;
    & p {
      font-size: 15px;
    }
    &--ipt1 {
      display: flex;
      background: #e4e4e4;
      border-radius: 25px;
      border: #c3c3c3 1px solid;
      padding: 10px 20px;
      width: 100%;
      color: #656565;
      margin: 10px 0;
    }
    &--ipt2 {
      text-align: center;
      background: transparent;
      border-radius: 25px;
      border: #c3c3c3 1px solid;
      padding: 10px 0px;
      color: #656565;
      width: 80px;
      margin: 0px 0 15px 0;
    }
    &--ipt3 {
      text-align: center;
      background: #6f6f70;
      border-radius: 25px;
      border: #6f6f70 1px solid;
      padding: 10px 0px;
      color: white;
      width: 80px;
      margin: 0px 0 15px 0;
    }
  }
}
</style>
