<template>
  <div class="container">
    <div class="row">
      <div class="card col-3 product-card">
        <div class="row">
          <img src width="210px" height="210px" class="product-card__img">
        </div>
        <div class="row">
          <div class="col-6">
            <p>Nombre</p>
            <p>Marca</p>
            <p style="font-size:15px; padding:5px 0;">PRECIO</p>
          </div>
          <div class="col-4">
            <select name id class="select" data-style="btn-primary">
              <option value class="option">Elegir</option>
              <option value>1</option>
              <option value>2</option>
              <option value>3</option>
              <option value>4</option>
              <option value>5</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ["name", "mark", "price", "img", "cant", "type"]
};
</script>

<style lang="scss">
.product-card {
  padding: 20px;
  align-items: center;
  font-size: 12px;
  box-sizing: border-box;

  // flex-direction: row;
  // display: flex;
  &__img {
    background-color: grey;
  }

  &__span {
    border-radius: 50%;
    background-color: #e17a7d;
    box-sizing: border-box;
    color: white;
    font-size: 2px;
  }

  & p {
    position: relative;
    align-items: start;
    color: #999999;
    margin: 0;
    padding: 0;
    right: 20px;
  }

  select {
    padding: 10px;
    background: whitesmoke;
    border-radius: 30px;
    width: fit-content;
    border: 1px solid #999999;
    padding: 5px 10px;
    color: #999999;
  }
}
</style>
