<template>
  <div class="register-form align-items-center justify-content-center">
    <div class="register-form__header w-75">
      <h2>Welcome baby</h2>
      <p class="text-secondary">Crear Cuenta</p>
    </div>
    <div class="w-100"></div>
    <div class="register-form__form w-75">
      <form>
        <div class="register-form__field">
          <label for="lastname" v-show="false">Apellidos</label>
          <input
            class="rounded-pill form-control"
            type="text"
            name="lastname"
            id="lastname"
            placeholder="Apellidos"
            aria-placeholder="Apellidos"
            v-model="lastname"
          >
        </div>
        <div class="register-form__field">
          <label for="firstname" v-show="false">Nombres</label>
          <input
            class="rounded-pill form-control"
            type="text"
            name="firstname"
            id="firstname"
            placeholder="Nombres"
            aria-placeholder="Nombres"
            v-model="firstname"
          >
        </div>
        <div class="register-form__field">
          <label for="email" v-show="false">Correo</label>
          <input
            class="rounded-pill form-control"
            type="email"
            name="email"
            id="email"
            placeholder="Correo"
            aria-placeholder="Correo"
            v-model="email"
          >
        </div>
        <div class="register-form__field">
          <label for="password" v-show="false">Contraseña</label>
          <input
            class="rounded-pill form-control"
            type="password"
            name="password"
            id="password"
            placeholder="Contraseña"
            aria-placeholder="Contraseña"
            v-model="password"
          >
        </div>
        <div class="register-form__field">
          <label for="repassword" v-show="false">Repetir Contraseña</label>
          <input
            class="rounded-pill form-control"
            type="password"
            name="repassword"
            id="repassword"
            placeholder="Repetir Contraseña"
            aria-placeholder="Repetir Contraseña"
            v-model="repassword"
          >
        </div>
        <div class="register-form__field">
          <input class="form-check-input" type="checkbox" name="terms" id="terms">
          <label class="form-check-label" for="terms">Acepto Términos y Condiciones</label>
        </div>
        <div class="register-form__field">
          <button
            type="button"
            class="btn btn-primary btn--form rounded-pill col-12"
            @click.prevent.stop="$router.push({name: 'entry'})"
          >Registrate</button>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "RegisterForm",
  data() {
    return {
      lastname: "",
      firstname: "",
      email: "",
      password: "",
      repassword: ""
    };
  }
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";
.register-form{
  background-color: #FFFFFF;
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0px !important;
  &__header {
    h2 {
      color: $primary;
    }
    p {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
  &__field {
    margin: 1rem 0;
  }
}
</style>
