<template>
  <div class="social-links col-6">
    <ul class="social-list">
      <li class="social-link">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img :src="require('../assets/images/facebook.png')" alt>
        </a>
      </li>
      <li class="social-link">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img :src="require('../assets/images/instagram.png')" alt>
        </a>
      </li>
      <li class="social-link">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img :src="require('../assets/images/twitter.png')" alt>
        </a>
      </li>
      <li class="social-link">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img :src="require('../assets/images/youtube.png')" alt>
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.social {
  &-list {
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
  }
  &-link {
    margin: 5px;
    img {
      height: 30px;
      width: 30px;
    }
  }
}
</style>
