<template>
  <div class="the-footer2">
    <div class="the-footer2__cont">
      <i class="material-icons">card_giftcard</i>
      <span class="the-footer2__cont--gift">3 Regalos seleccionados</span>
      <span class="the-footer2__cont--monto">S/ 200</span>
    </div>
    <div class="the-footer2__cont2">
      <button class="the-footer2__cont2--btn">Continuar</button>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss">
.the-footer2 {
  background: #0a856f;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  &__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    & i {
      font-size: 48px;
    }
    &--gift {
      font-size: 18px;
      color: white;
      font-weight: bold;
      padding: 0 20px;
    }
    &--monto {
      font-size: 40px;
      color: white;
      font-weight: bold;
      padding: 0 20px;
    }
  }
  &__cont2 {
      display: flex;
      justify-content: center;
      align-items: center;
    &--btn {
      border-radius: 25px;
      background: white;
      color: #0a856f;
      border: none;
      padding: 10px 30px;
      font-size: 12px;
    }
  }
}
</style>
