<template>
  <footer class="the-footer row align-items-center">
    <div class="the-footer__logo col-3">
      <!-- <img src alt="logo"> -->
      <h4>Welcome Baby</h4>
    </div>
    <nav class="the-footer__nav col-3">
      <ul class="the-footer__nav-list">
        <li class="the-footer__nav-link">
          <a href>Nosotros</a>
        </li>
        <li class="the-footer__nav-link">
          <a href>Contactanos</a>
        </li>
        <li class="the-footer__nav-link">
          <a href>Soporte</a>
        </li>
        <li class="the-footer__nav-link">
          <a href>Blog</a>
        </li>
        <li class="the-footer__nav-link" v-if="$route.meta.iscreated">
          <a href>Términos y condiciones</a>
        </li>
        <li class="the-footer__nav-link" v-if="$route.meta.iscreated">
          <a href>FAQ</a>
        </li>
      </ul>
    </nav>
    <SocialLinks/>
  </footer>
</template>

<script>
import SocialLinks from "./SocialLinks";
export default {
  name: "TheFooter",
  components: {
    SocialLinks
  }
};
</script>

<style lang="scss">
@import "../assets/styles/colors.scss";
.the-footer {
  background-color: $primary;
  color: #ffffff !important;
  padding: 2rem 0;
  &__logo {
    // justify-content: center;
    // align-items: center;
    height: 100%;
  }
  &__nav {
    margin-top: 3rem;
    &-list {
      list-style: none;
    }
    &-link {
      text-align: start;
      font-size: 12px;
      a {
        color: #ffffff;
      }
    }
  }
}
</style>
