@import "./colors.scss";
html {
  height: 100%;
}
body {
  height: 100%;
}
.btn--form {
  background-color: #d37f7f !important;
  border: 1px solid #d37f7f !important;
}
.btn--card {
  padding-left: 3rem !important;
  padding-right: 3rem !important;
}
.btn--sec {
  background-color: #999999 !important;
  border: 1px solid #999999 !important;
}
.is-bg-dark {
  background-color: #707070;
}
.has-box-shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
